.fav-cont {
}

.side-2ur1Qk {
  display: grid;
  transition: 0.1s;
}

.searchdiv {
  grid-area: 1/1;
  margin-bottom: 10px;
  margin-top: -10px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1 !important;
  // filter: opacity(100);
  .settingsicon {
    grid-area: 1/2;
    transition: 0.2s;
    height: 15px;
    width: 15px;
    opacity: 0.7;
    background-image: url("https://mr-miner1.github.io/better-settings/assests/search.svg");
    margin-left: -20px;
  }
  .vertical-3aLnqW {
    height: 30px;
    margin: 0px;
  }
  .divider-_0um2u {
    display: none;
  }
  #settingssearch {
    grid-area: 1/1;
    width: 190px;
    border: 1px solid var(--background-tertiary);
    padding: 10px;
    height: 30px;
    font-size: 15px;
    background-color: var(--background-tertiary);
    color: rgba(255, 255, 255, 0.514);
    transition: 0.2s;
    border-radius: 4px;

    &:focus,
    &:hover {
      color: var(--text-normal);
    }

    &:focus + .settingsicon,
    &:hover + .settingsicon {
      opacity: 1;
    }
  }
}

.BetterSettingsSettings {
  .uwu {
    font-size: 15px;
  }

  //     .colorPickerSwatch-5GX3Ve.custom-2SJn4n.noColor-1pdBDm{
  //     background-color: var(--favorite-setting-color);
  //     // transition: 0.01s;

  // }
}

.categorydisabled {
  cursor: not-allowed !important;
  filter: grayscale(1);
}

.updatenotif {
  position: absolute;
  top: 2%;
  opacity: 1;
  width: 300px;
  left: 5%;
  // background: var(--background-tertiary);
  color: white;
  // display: none;
}

.noresults {
  margin: auto;
  margin-top: 10px;
  grid-area: 2/1;
  height: 182px;
  width: 182px;
  background-repeat: no-repeat;
  background-size: 120px;
  background-position: 25px 55px;
  background-image: url("https://discord.com/assets/7dfacc7529214e45b9e3cfd50979edea.svg");
  color: var(--text-normal);
  text-align: center;
}
.better-settings-checkbox-cont {
  display: flex;
  justify-content: center;
}
.better-settings-checkbox {
  label,
  button {
    // font-size: 20px;
    font-family: var(--font-display);
    margin-right: 8px;
    color: var(--text-normal);
    font-size: 16px;
  }
  input {
    // opacity: 0;
    // transform: scale(0);
    transform: scale(0.1);
  }
  input::before {
    transform: scale(10) translateY(2px);
    position: relative;
    display: block;
    width: 13px;
    height: 13px;
    border: 1.25px solid #ed4245;
    border-radius: 2px;
    content: "";
    background: url("https://mr-miner1.github.io/better-settings/assests/disabled.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 10px;
    background-color: var(--background-secondary);
    transition: 0.6s;
    animation: better-settings-checkbox2 0.6s forwards;
  }
  input:checked::before {
    animation: better-settings-checkbox 0.6s forwards;
    transform: scale(10);
    border-color: #3ba55d;
    background: url("https://mr-miner1.github.io/better-settings/assests/enabled.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 12px;
    background-color: var(--background-secondary);
  }
  margin-bottom: 0px;
  background-color: var(--deprecated-text-input-bg);
  padding: 13px;
  border-radius: 5px;
  margin-right: 20px;
  width: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@keyframes better-settings-checkbox {
  0% {
    transform: scale(10) rotate(0deg) translateY(-1px);
  }
  100% {
    transform: scale(10) rotate(-360deg) translateY(-1px);
  }
}
@keyframes better-settings-checkbox2 {
  0% {
    transform: scale(10) rotate(0deg) translateY(-1px);
  }
  100% {
    transform: scale(10) rotate(360deg) translateY(-1px);
  }
}
.bs-bd-text {
  font-size: 17px;
  margin-bottom: 20px;
}
#better-settings-github {
  height: 22px;
  width: 22px;
  display: block;
  color: white;
}
#better-settings-open {
  display: block;
  background-color: transparent;
  height: 25px;
  width: 25px;
  padding: 0px;
  display: block;
  color: white;
  path {
    d: path(
      "M 23.0956 9.8 H 21 v -2.1 c 0 -1.1594 -0.9406 -2.1 -2.1 -2.1 H 11.9 l -2.8 -2.8 H 2.1 C 0.9406 2.8 0 3.7406 0 4.9 v 12.6 c 0 1.1594 0.9406 2.1 2.1 2.1 h 17.5 c 0.7219 0 1.3956 -0.3719 1.7806 -0.9888 l 3.4956 -5.6 c 0.875 -1.3956 -0.1312 -3.2113 -1.7806 -3.2113 z M 2.1 5.1625 c 0 -0.1444 0.1181 -0.2625 0.2625 -0.2625 h 5.8669 l 2.8 2.8 H 18.6375 c 0.1444 0 0.2625 0.1181 0.2625 0.2625 v 1.8375 H 6.65 c -0.735 0 -1.4175 0.385 -1.7981 1.015 L 2.1 15.3737 z m 17.5 12.3375 H 3.15 l 3.3775 -5.6 H 23.1 z"
    );
  }
}
#better-settings-delete {
  background-color: transparent;
  height: 25px;
  width: 25px;
  padding: 0px;
  display: block;
  color: white;
  svg {
    display: flex;
    path {
      transition: 0.2s;
    }
  }
}
#better-settings-server {
  background-color: transparent;
  height: 25px;
  width: 25px;
  padding: 0px;
  display: block;
  color: white;
}
#better-settings-remount {
  background-color: transparent;
  height: 25px;
  width: 25px;
  padding: 0px;
  display: block;
  color: white;
}
.quickactions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  button,
  a {
    margin: 4px 6px 4px 6px;
    filter: brightness(0.9);
  }
}
.powercord-product-footer [aria-label="Settings"] {
  display: block;
  color: white;
  padding: 0px;
  margin: 7px 6px 4px 0px;
  svg {
    height: 25px;
    width: 25px;
  }
}
.powercord-product-footer {
  margin-top: 5px;
  margin-bottom: -15px;
}
.bs-settings-tab-bar {
  margin-bottom: 20px;
}
.bd-cl-content {
  margin: 15px 9px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 150px;
  font-family: var(--font-primary);
}
.better-settings-hidden {
  display: none !important;
}
